.navbar{
    padding-block: .5%;
    // Aces arena game Management
    .navbar-brand{
        font-size: 1.4em;
        color: white;
    }
    // nav Items 
    a{
        font-size: 1.2em;
    }
    li{
        color: white;
    }
 
}
